<!-- Iterar sobre o array de fotos da CGDF -->
<div class="container">
  <mat-card class="main-card" *ngFor="let foto of fotos; let i = index">
    <img mat-card-image src={{foto.img}}>
    <mat-card-content>
      <!-- Adicionar a descrição da foto -->
      <p>{{foto.descricao}}</p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <!-- Adicionar event bind para fazer ação de like -->
      <button mat-button>
        <i class="material-icons md-18">favorite</i> Gostei
      </button>

      <!-- Adicionar event bind para fazer ação de excluir -->
      <button mat-button (click)="deletar(i)">
        <i class="material-icons md-18">delete</i> Excluir
      </button>
    </mat-card-actions>
</mat-card>
</div>

